<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="{{ site.baseurl }}/assets/img/favicon.ico">

<title>
  {% if page.title %}
    {{ page.title }} &middot; {{ site.title }}
  {% else %}
    {{ site.title }} &middot; {{ site.description }}
  {% endif %}
</title>

<!-- Bootstrap core CSS -->
<link href="{{ site.baseurl }}/assets/css/paypal-bolt.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{{ site.baseurl }}/assets/css/custom.css" rel="stylesheet">
<link href="{{ site.baseurl }}/assets/css/animations.css" rel="stylesheet">